.product-card{
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card h2{
    margin-bottom: 10px;
    color: aqua;
}
.product-card p{
    margin: 8px 0;
    color: aquamarine;
}